<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= requestedUser.uname %>'s Profile</title>

    <%- include('../_partials/commonCssHeaders.ejs') -%>
</head>
<body>
<div class="container">
    <%- include('../_partials/header.ejs') -%>

    <div class="container d-flex justify-content-center">
        <div class="col-md-8 col-lg-8 col-sm-12">
            <h3 class="display-6"><a href="/">Home</a> > <%= requestedUser.uname %>'s Profile</h3>
            <hr>
            <div class="row">
                <div class="col-md-6">
                    <a href="/users/<%= requestedUser.id %>/posts/list" class="btn btn-outline-primary" style="width: 100%"><%= requestedUser.uname %>'s Posts</a>
                </div>
                <div class="col-md-6">
                    <a href="/users/<%= requestedUser.id %>/comments/list" class="btn btn-outline-primary" style="width: 100%"><%= requestedUser.uname %>'s Comments</a>
                </div>
            </div>
        </div>
    </div>

</div>
<%- include('../_partials/footer.ejs') -%>

<%- include('../_partials/commonJsScripts.ejs') -%>
</body>
</html>