<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>New Post</title>

    <%- include('../_partials/commonCssHeaders.ejs') -%>
</head>
<body>
<div class="container">
    <%- include('../_partials/header.ejs', {user: user}) -%>

    <form class="row d-flex justify-content-center">
        <div class="col-md-7">
            <div class="invalid-feedback" id="errorMessage">
                Invalid inputs!
            </div>
            <div class="form-group">
                <label for="inputLink">Link</label>
                <input type="text" class="form-control" id="inputLink" placeholder="Link">
            </div>
            <div class="form-row row">
                <div class="form-group col-md-7">
                    <label for="inputTitle">Title</label>
                    <input type="text" class="form-control" id="inputTitle" placeholder="Choose a title">
                </div>
                <div class="form-group col-md-2">
                    <label for="inputSub">Existing Subs</label>
                    <select id="inputSub" class="form-control">
                        <option selected>Choose...</option>
                        <% for (let sub of subs) { %>
                        <option><%=sub%></option>
                        <% } %>
                    </select>
                </div>
                <div class="form-group col-md-3">
                    <label for="inputNewSub">New Sub</label>
                    <input type="text" class="form-control" id="inputNewSub" placeholder="Create a new Sub">
                </div>
            </div>
            <div class="form-group">
                <label for="textareaInputDescription">Description</label>
                <textarea class="form-control" id="textareaInputDescription" rows="4"></textarea>
            </div>
            <button type="submit" id="buttonPost" class="btn btn-lg btn-primary mt-2">Post</button>
        </div>
    </form>

</div>

<%- include('../_partials/footer.ejs') -%>

<%- include('../_partials/commonJsScripts.ejs') -%>
<script src="/js/post.js"></script>
</body>
</html>